<div id="main-section" class="d-flex flex-row">
    <!-- Login form -->
    <section id="login-form" class="col-4 d-flex flex-column justify-content-center flex-wrap">
        <header class="d-flex justify-content-center">
            <h1 id="header" class="fw-bold m-3">Icing</h1>
        </header>

        <main class="row d-flex justify-content-center">
            <section class="col-md-8 d-flex flex-column m-5">
                <h2 class="text-center">Welcome back!</h2>

                <form class="form login-form">
                    <div class="form-group d-flex flex-column mt-2">
                        <label for="email-login">Username or email:</label>
                        <input class="form-input rounded-pill p-2" type="text" id="email-login" />
                    </div>
                    <div class="form-group d-flex flex-column mt-2">
                        <label for="password-login">Password:</label>
                        <input class="form-input rounded-pill p-2" type="password" id="password-login" />
                    </div>
                    <div class="form-group d-flex flex-column mt-4">
                        <button class="btn rounded-pill" type="submit">Sign in</button>
                    </div>
                </form>
            </section>
        </main>
    </section>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../public/js/login.js"></script>